fastapi==0.104.1
uvicorn[standard]==0.24.0
yt-dlp==2023.12.30
celery==5.3.4
redis==5.0.1
python-multipart==0.0.6
aiofiles==23.2.1
httpx==0.25.2
beautifulsoup4==4.12.2
requests==2.31.0
python-dotenv==1.0.0
free-proxy==1.1.1
sentry-sdk==1.40.0
flask
gunicorn
paramiko
pexpect
kombu
billiard
flower
asyncio